.mmz_merkzettel {background: #ead5d5; padding:10px;}
.mmz_merkzettel * {color: #000; font-size:12px; line-height:110%; padding_0; margin:0;}
.mmz_merkzettel em {display: inline; font-style: normal; font-family: courier; font-size:14px; color: #cc0000;}
.mmz_merkzettel h2 {font-size:16px; color: #cc0000;}
.mmz_merkzettel a {font-size:14px; color: #cc0000;}
.mmz_open_merkzettel {float:right; width:70px; height:70px; border-radius:50%; background: #cc0000 url(img/open.png) no-repeat center center; background-size: 80% 80%;  }