.mmz_merkzettel_item {padding-left: 25px; cursor: grab; background: url(img/merkzettel.png) no-repeat left 2px; background-size: auto 16px; transition: all 1s;}
.mmz_merkzettel_item.mmz_selected { background: url(img/merkzettel-delete.png) no-repeat left 2px; background-size: auto 16px; transition: all 1s;}
.mmz_merkzettel_item:hover, .mmz_merkzettel_item.mmz_selected:hover {background-position: left 0; background-size: auto 20px;} 



#mmz_show_merkzettel, #mmz_open_merkzettel {position:fixed; display:none; top:30%; right:0; box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);}
#mmz_open_merkzettel {z-index:2000; width:50px; height:50px; border-radius:50%; background: #cc0000 url(img/open.png) no-repeat center center; background-size: 80% 80%; cursor:pointer; }

#mmz_show_merkzettel {z-index:2010;  width:90%; max-width:600px; background: #f1eaea; padding: 0 0 10px 10px; max-height:70%; overflow: auto;}
#mmz_show_merkzettel * {color: #444;}
#mmz_show_merkzettel table {width:98%; border-collapse:collapse; border: none; border-top: 1px solid #ccc;}
#mmz_show_merkzettel table tr td{font-size:0.9em; padding: 4px; text-align:left; vertical-align: top;  background: rgba(255, 255, 255, 0.1);  border: none; border-bottom: 1px solid #ccc;}
#mmz_show_merkzettel table tr:hover td {background: rgba(255, 255, 255, 0.6);}  
#mmz_show_merkzettel table td.preis {text-align:right;}
#mmz_show_merkzettel table tr.th1 td.preis {text-align:center;}

#mmz_show_merkzettel span, #mmz_show_merkzettel .merkzettel_close {display:block;  float:right; text-align:center;  width:16px; height: 16px;background:#cc0000; color: #fff;cursor:pointer;}
#mmz_show_merkzettel .merkzettel_close {width:20px; height:20px; background: #cc0000 url(img/close.png) no-repeat left top; background-size: 100% auto;}
#mmz_show_merkzettel span {background: #cc0000 url(img/trash.png) no-repeat left top; background-size: 100% auto;}

#mmz_show_merkzettel input {box-sizing: border-box; width:30px; padding:2px; text-align:center;  margin-right:10px; background: #fff; color: #000;}


#mmz_show_merkzettel .remove_all, #mmz_show_merkzettel a.goto_form  {margin: 10px; color:#fff; cursor:pointer; }
#mmz_show_merkzettel .remove_all {float:right; background: #cc0000 url(img/trash.png) no-repeat left center; background-size: 16px 16px;  font-size: 12px;  padding: 1px 2px 1px 20px; }
#mmz_show_merkzettel a.goto_form {display:block; float:left; padding: 4px 30px; background: #009f1e; border-radius:6px;}

#mmz_show_merkzettel .general_hint {clear:both; width:98%; background: rgba(255, 230, 0, 0.3); padding: 5px; }
#mmz_show_merkzettel .general_hint p, #mmz_show_merkzettel .general_hint h4 {font-size:0.85em; line-height:120%; padding: 0px; margin: 0px; }


/* ======================================================================
Smaller Screens */
@media screen and (max-width: 480px) {
	#mmz_open_merkzettel {width:32px; height:32px;}
	#mmz_show_merkzettel {top:12%; max-height:85%;}
	#mmz_show_merkzettel table tr td, #mmz_show_merkzettel .general_hint { padding: 2px;}
}